.wrapper {
  padding-top: 20px;
  background-image: url(../img/home-img.jpg);
  max-width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  font-weight: 800;
  font-size: 90px;
  text-align: center;
  color: #fff;
}
